.form-container {
  min-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
 
}

.create-course-title {
  text-align: center;
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.course-form {
  display: flex;
  flex-direction: column;
}

.course-form label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.course-form input,
.course-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.course-form textarea {
  resize: vertical;
  height: 100px;
}

.submit-button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.submit-button:hover {
  background-color: #0056b3;
}
