@import "header.css";
@import "footer.css";
@import "home.css";
@import "contact.css";
@import "aboutUs.css";
@import "register.css";
@import "login.css";
@import "catalog.css";
@import "details.css";
@import "createCourse.css";
@import "adminActions.css";
@import "editForm.css";
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.root { 
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}